{% extends "base.html" %}

{% block title %}唐诗三百首{% endblock %}

{% block content %}
<div class="container">
    <div class="jumbotron">
        <h1>唐诗三百首</h1>
        <p>唐朝（618年—907年）二百九十年間，是中國詩歌發展的黃金時代，雲蒸霞蔚，名家輩出，唐詩數量多達五萬首。孫琴安《唐詩選本六百種提要·自序》指出，“唐詩選本經大量散佚，至今尚存三百餘種。當中最流行而家傳戶曉的，要算《唐詩三百首》。”《唐詩三百首》选诗范围相当广泛，收錄了77家詩，共311首，在數量以杜甫詩數多，有39首、李白詩33首、王維詩29首、李商隱詩24首、孟浩然诗14首。是仿《詩經》三百篇（共305篇）之作，從前是家絃戶誦的兒童詩教啟蒙書，所以比较浅显，读者容易接受，俗話說：“熟讀唐詩三百首，不會作詩也會吟。”（原序作：「熟讀唐詩三百首，不會吟詩也會吟。」）是中小學生接觸中國古典詩歌最好的入門書籍。</p>
    </div>
</div>

<div class="container">
	<div class="row clearfix randomPoems">
        <div class="col-md-12 column" id="daily">
			<div class="page-header">
				<h1 align="center">
					今日唐诗
				</h1>
			</div>
		</div>
	</div>
</div>
{% endblock %}


{% block scripts %}
{{ super() }}
<script type="text/javascript" src="static/js/index.js"></script>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}"/>
{% endblock %}