{% extends "base.html" %}

{% block title %}{{title}}{% endblock %}

{% block content %}
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
            <div class="jumbotron">
                <h1 align="center" style="color:#921406">
                    {{title}}
                </h1>
                <h3 class="author"  align="center"></h3>
                <p class="poem" align="center"></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="../static/js/poem.js"></script>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/poem.css') }}"/>
{% endblock %}

